.footer {
    background-color: lavender;
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    display: flex;
}
.subfooter {
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}
.subfooter-social-links {
    display: flex;
    justify-content: space-between;
}